:root{
    --orange: #ef8e0d;
    --red-orange:#ef820d;
}

body{
    overflow-x: hidden;
}


#homepage-header{
    position: relative;
    opacity: 1;
    left: 0;
    padding-left: 12.5%;
    transition: 0.4s;
    display: flex;
    height: 70vh;
    padding-top: 30vh;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/blaze-task-buildings.png);
}



#homepage-header-mobile{
    position: relative;
    opacity: 1;
    padding-top: 15vh;
    left: 0;
    padding-left: 12.5vw;
    height: 85vh;
    background-image: url(../../assets/images/blaze-task-buildings-mobile.png);
    background-size: auto 100%;
    background-position: 50% 0;
}

@font-face {
    font-family: antonio;
    src: url(../../assets/fonts/Antonio-VariableFont_wght.ttf);
}

#homepage-header-title{
    font-family: antonio;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 180px;
    font-weight: 700;
    margin-left: -7px;
}

#homepage-header-title-mobile{
    font-family: aileron;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    font-size: 14vw;
    font-weight: 700;
}

#homepage-header-subtitle{
    color: var(--orange);
    font-family: aileron;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    word-spacing: 0.3em;
    font-size: 44px;
    font-weight: 700;
}

#homepage-header-subtitle-mobile{
    color: var(--orange);
    font-family: aileron;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    word-spacing: 0.3em;
    font-size: 5vw;
    font-weight: 700;
}

#homepage-header-title-bar{
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, rgba(255,208,0,1) 100%);
    width: 300px;
    height: 20px;
    margin-top: 2%;
    margin-bottom: 50%;
}

#homepage-header-title-bar-mobile{
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, rgba(255,208,0,1) 100%);
    width: 150px;
    height: 10px;
    margin-top: 2%;
    margin-bottom: 50%;
}


#what-we-are-div{
    background-color: black;
    position: relative;
    padding-left: 12.5%;
    padding-top: 10%;
    padding-bottom: 15%;
    display: flex;
}

#what-we-are-text-div{
    width: 700px;
}

#what-we-are-image{
    background-image: url(../../assets/images/technology-stock-1.jpg);
    width: 300px;
    height: 500px;
    margin-left: 50px;
    border-radius: 50px;
    
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
}

#what-we-are-title{
    color: #ef8e0d;
    font-family: open-sans;
    font-size: 70px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 2%;
}

#what-we-are-title-mobile{
    width: 70%;
    color: #ef8e0d; 
    font-family: open-sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2%;
}

#what-we-are-description{
    width: 80%;
    color: white;
    font-family: dm-sans;
    font-size: 30px;
    margin-bottom: 5%;
}

#what-we-are-description-mobile{
    width: 80%;
    color: white;
    font-family: dm-sans;
    font-size: 20px;
    margin-bottom: 5%;
}

#homepage-what-are-we-bar{
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, rgba(255,208,0,1) 100%);
    width: 150px;
    height: 10px;
    margin-top: 2%;
}


#our-process-div{
    background-color: rgb(236, 236, 236);
    position: relative;
    padding-top: 5%;
    padding-bottom: 15%;
    z-index: -2;
}

#our-process-title{
    color: black;
    font-family: open-sans;
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 2%;
}
#our-process-subtitle{
    color: black;
    font-family: open-sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2%;
    width: 700px;
}

#our-process-description{
    color: black;
    text-align: justify;
    font-family: dm-sans;
    font-size: 22px;
    margin-bottom: 5%;
}

#our-process-description-mobile{
    width: 65vw;
    color: black;
    font-family: dm-sans;
    font-size: 4.5vw;
    margin-bottom: 5%;
}

#homepage-our-process-bar{
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, rgba(255,208,0,1) 100%);
    width: 300px;
    height: 18px;
    margin-top: 2%;
}

#homepage-our-process-bar-mobile{
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, rgba(255,208,0,1) 100%);
    width: 50vw;
    height: 3vw;
    margin-top: 2%;
}

#our-process-polygon{
    position: absolute;
    background-repeat: no-repeat;
    top:0;
    left: 0;
    background-image: url(../../assets/images/our-process-polygon.png);
    width: 100%;
    height: 100%;
    z-index: -1;
}

#our-process-polygon-mobile{
    position: absolute;
    background-repeat: no-repeat;
    top:0;
    left: 0;
    background-image: url(../../assets/images/our-process-polygon.png);
    background-position: -200px 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#our-process-intro-div{
    display: flex;
    justify-content: center;
}

#our-process-intro{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    padding: 70px;
    width: 800px;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.367);
}

#our-process-intro-mobile{
    padding: 5vw;
    margin-top: 5%;
    margin-left: 10vw;
    background-color: rgb(255, 255, 255);
    width: 70vw;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.367);
}

#our-process-intro-image{
    flex-shrink: 0;
    height: 500px;
    width: 300px;
    border-radius: 60px 60px;
    background-image: url(../../assets/images/our-process-img-1.jpg);
    background-size: 600px 600px;
    background-position: -150px -50px;
    margin-right: 10%;
}

#our-process-list{
    flex-shrink: 0;
    margin-top: 10%;
    position: relative;
    height: 700px;
    margin-left: 12.5%;
}

.our-process-item{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 25px;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
}

.our-process-icon{
    margin-left: 10%;
    margin-top: 5%;
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    margin-bottom: 5%;
}

#our-process-icon-1{
    background-image: url(../../assets/images/idea-icon.svg);
}

#our-process-icon-2{
    background-image: url(../../assets/images/magnifying-glass-icon.png);
}

#our-process-icon-3{
    background-image: url(../../assets/images/gears-icon.svg);
    margin-bottom: 5%;
}

#our-process-icon-4{
    background-image: url(../../assets/images/growth-icon.svg);
}

.our-process-item-title{
    font-family: poppins;
    margin-left: 10%;
    font-size: 28px;
    line-height: 35px;
}

.our-process-item-description{
    margin-top: 5%;
    font-size: 16px;
    color: rgb(90, 90, 90);
    font-family: inter;
    font-weight: 300;
    margin-left: 10%;
}

#our-process-item-1{

}
#our-process-item-2{
    left: 350px;
    top: 50px;
}
#our-process-item-3{
    top: 360px
}
#our-process-item-4{
    left: 350px;
    top: 410px
}

#our-process-list-description{
    top:35%;
    position: absolute;
    left: 800px;
}

#our-process-list-description-title{
    font-size: 100px;
    line-height: 100px;
    font-family: poppins;
    margin-bottom: 3%;
}

#our-process-list-description-text{
    font-size: 20px;
    width: 80%;
    font-family: inter;
}




#what-we-are-div-mobile{
    background-color: black;
    position: relative;
    padding-left: 12.5%;
    padding-top: 15vh;
    height: 60vh;
    padding-bottom: 25vh;
    display: flex;



}


#our-process-div-mobile{
    background-color: rgb(236, 236, 236);
    position: relative;
    padding-left: 0%;
    padding-top: 10%;
    padding-bottom: 15%;
    z-index: -2;
}


#our-process-title-mobile{
    color: black;
    font-family: open-sans;
    font-size: 7vw;
    font-weight: 700;
    margin-bottom: 2%;
}



#our-process-list-mobile{
    flex-shrink: 0;
    margin-top: 10%;
    margin-left: 15vw;
    position: relative;
}

.our-process-item-mobile{
    margin-bottom: 10vw;
    width: 60vw;
    height: 70vw;
    background-color: white;
    padding: 5vw;
    box-shadow: 3vw 3vw 10vw rgba(0, 0, 0, 0.3);
}

.our-process-icon-mobile{
    margin-left: 0vw;
    margin-top: 0vw;
    background-size: 100% 100%;
    width: 20vw;
    height: 20vw;
    margin-bottom: 5%;
}


#our-process-list-description-title-mobile{
    font-size: 70px;
    line-height: 70px;
    font-family: poppins;
    margin-top: 30%;
    margin-bottom: 3%;
}

#our-process-list-description-text-mobile{
    font-size: 20px;
    width: 80%;
    font-family: inter;
}
#our-process-list-description-mobile{
    margin-bottom: 20vw;
    margin-left: 10vw;
}

.our-process-item-title-mobile{
    font-family: poppins;
    margin-left: 5vw;
    font-size: 7vw;
    line-height: 9vw;
}

.our-process-item-description-mobile{
    margin-top: 5%;
    font-size: 4vw;
    color: rgb(90, 90, 90);
    font-family: inter;
    font-weight: 300;
    margin-left: 5vw;
    width: 50vw;
}

#homepage-contact-us-mobile{
    background-color: black;
    padding-bottom: 30vw;
}

#homepage-contact-description-div-mobile{
    padding-left: 10vw;
    padding-top: 25vw;
}

#homepage-contact-description-title-mobile{
    font-family: dm-sans;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 7.8vw;
}

#homepage-contact-description-text-mobile{
    display: block;
    font-family: dm-sans;
    color: white;
    font-size: 5vw;
    margin-top: 8vw;
}

#homepage-contact-button-mobile{
    font-family: dm-sans;
    color: white;
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, #ff914d 100%);
    width: 80vw;
    height: 14vw;
    font-size: 4.9vw;
    border: none;
    margin-top: 10vw;
    cursor: pointer;
}

#homepage-contact-us{
    background-color: black;
    padding-bottom: 200px;
    padding-top: 70px;
    position: relative;
}

#homepage-contact-description-div{
    padding-left: 10vw;
    padding-top: 100px;
    position: relative;
    z-index: 3;
}

#homepage-contact-description-title{
    font-family: dm-sans;
    letter-spacing: 0.2em;
    color: white;
    font-size: 45px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 700;
}

#homepage-contact-description-text{
    display: block;
    font-family: dm-sans;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    width: 600px;
}

#homepage-contact-button{
    font-family: dm-sans;
    color: white;
    background: rgb(255,0,0);
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, #ff914d 100%);
    width: 500px;
    height: 60px;
    font-size: 30px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

.homepage-contact-us-image{
    position: absolute;
    right: 100px;
    top: 0;
    margin-left: 10vw;
    width: 600px;
    height: 600px;
    background-size: 110% 100%;
    background-image: url(../../assets/images/logo-3d-2.png);
}

#homepage-mobile{
    overflow-x: hidden;
}

#homepage-stats-title{
    color: white;
    font-family: dm-sans;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.15em;
}

#homepage-stats-subtitle{
    color: var(--red-orange);
    font-family: dm-sans;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#homepage-stats-div{
    position: relative;
    text-align: center;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 200px;
}

#homepage-stats-div-mobile{
    position: relative;
    text-align: center;
    background-color: black;
    padding-top: 15vw;
    padding-bottom: 200px;
}

#homepage-stats-title-mobile{
    color: white;
    font-family: dm-sans;
    font-weight: 700;
    font-size: 7vw;
    letter-spacing: 0.15em;
}

#stay-ahead{
    font-size: 8vw;
}

#homepage-stats-subtitle-mobile{
    color: var(--red-orange);
    font-family: dm-sans;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#homepage-stats-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-stats-item{
    padding-top: 50px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    width: 300px;
    height: 500px; background: rgb(29,29,29);
    background: linear-gradient(0deg, rgb(47, 47, 47) 0%, rgba(0,0,0,1) 100%); 
}

.homepage-stats-item-image{
    color: white;
    font-family: dm-sans;
    font-size: 60px;
    font-weight: 600;
    background-size: 100% 100%;
    width: 220px;
    height: 220px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#wheel-70-percent{
    background-image: url(../../assets/images/70_percent_wheel.svg);
}

#wheel-27-percent{
    background-image: url(../../assets/images/27_percent_wheel.svg);
}

#wheel-95-percent{
    background-image: url(../../assets/images/95_percent_wheel.svg);
}

.homepage-stats-item-description{
    color: white;
    font-family: dm-sans;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    margin-top: 40px;
}



#homepage-stats-list-mobile{
    
}

.homepage-stats-item-mobile{
    padding-top: 10vw;
    text-align: center;
    margin-left: 15vw;
    position: relative;
    width: 70vw;
    height: 100vw; background: rgb(29,29,29);
    background: linear-gradient(0deg, rgb(47, 47, 47) 0%, rgba(0,0,0,1) 100%); 
}

.homepage-stats-item-image-mobile{
    color: white;
    font-family: dm-sans;
    font-size: 60px;
    font-weight: 600;
    background-size: 100% 100%;
    width: 45vw;
    height: 45vw;
    margin-left: 12.5vw;
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.homepage-stats-item-description-mobile{
    color: white;
    font-family: dm-sans;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 3.5vw;
    margin-top: 10vw;
}


#homepage-stats-reference{
    position: absolute;
    right: 0;
    bottom: 0;
    color:rgb(163, 163, 163);
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 40px;
    margin-right: 20px;
}


#blaze-task-color{
    color: rgb(255, 94, 0);
}
