#rotating-logo-video{
    z-index: -1;
    position: absolute;
    left: 450px;
    top:-150px;
    width: 900px;
    height: 600px;
}

#rotating-logo-video-mobile{
    width: 300vw;
    position: absolute;
    left:-110vw;
    top:17vh;
    height: 70vh;
    z-index: -1;
}

#homepage-splash-image{
    position: absolute;
    top: 0;
    width:100vw;
    top: -5vw;
    z-index: -1;
}